#cloud-config
users:
  - name: {{ ci_user }}
    passwd: {{ ci_password }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ ssh_key }}
      - {{ ssh_key_ansible_control_node }}

  - name: telemc
    passwd: {{ ci_password }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ ssh_key }}
      - {{ ssh_key_ansible_control_node }}

chpasswd:
  expire: false

packages:
  - qemu-guest-agent
  - openssh-server
  - linux-generic-hwe-22.04

package_update: true
package_upgrade: true
package_reboot_if_required: true

runcmd:
  - [ systemctl, daemon-reload ]
  - [ systemctl, enable, qemu-guest-agent.service ]
  - [ systemctl, start, --no-block, qemu-guest-agent.service ]